<div class= 'container'>
  <div class="container_content">
  <div class="container_content_inner">
  <div class="title">
      <h1>ABOUT ME</h1>
    </div>
    <div class="par">
    <p>
    I'm a photographer/director based in Kenya. I love taking portraits.
    It's like my addiction …for which there is no known cure, except to make more.
    I'm a self-taught photographer. My photography journey started early back in high
    school when my uncle bought a camera and I got fascinated with it back in 2017.
    I've been in the game now for approximately 4 years now and currently I work as a freelance photographer.
    Photographed various artist like Khaligraph Jones, Charisma, YungbeyT etc...
    </p>
  </div>
  </div>
</div>

<div class="container_outer_img">
<div class="img-inner"><div class="box">
<div class="box-inner">
<div class="box-front">
  <img src="../assets/images/IMG_9837.jpg" class="container_img">
</div>
<div class="box-back">
  <img src='../assets/images/IMG_3965.jpg'  alt="" class="container_img"/> 
</div>
</div>
</div>
</div>
</div>
</div>
<div class="overlay"></div>

    <div class="facts">
      <h1>Fun Facts About Me!</h1>
      <ul class="list-unstyled" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder; font-size: 25px; color: black;">
        <li>I bought my first camera with my friend just from our savings.</li>
        <li>I like drawing! Actually, let's just say art in general.</li>
        <li>I enjoy music and my favorite genre is Afrobeat's.</li>
        <li>I don’t like bad vibes around me..GOOD VIBES ONLY</li>
        <li>I like eating, like who doesn’t enjoy good food?!</li>
      </ul>
    </div>

<!-- footer -->
<footer>
  <div class="rounded-social-buttons">
    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
