<mat-toolbar >
    <span>Dwayne Joe</span>
</mat-toolbar>

<div class="row">
    <div class="column">
      <img src="../assets/images/DSC09703.jpg">
      <img src="../assets/images/IMG_1934.jpg">
      <img src="../assets/images/IMG_1941.jpg">
      <img src="../assets/images/IMG_3935.jpg">
      <img src="../assets/images/IMG_3937.jpg">
      <img src="../assets/images/IMG_3965.jpg">
      
    </div>
    <div class="column">
      <img src="../assets/images/IMG_4104.jpg">
      <img src="../assets/images/IMG_4113.jpg">
      <img src="../assets/images/IMG_4128.jpg">
      <img src="../assets/images/IMG_9886.jpg">
      <img src="../assets/images/IMG_4642.jpg">
      <img src="../assets/images/IMG_4763.jpg">
      
    </div>
    <div class="column">
      <img src="../assets/images/IMG_9895.jpg">
      <img src="../assets/images/IMG_9975.jpg">
      <img src="../assets/images/IMG_9892.jpg">
      <img src="../assets/images/IMG_5379.jpg">
      <img src="../assets/images/IMG_9837.jpg">
      <img src="../assets/images/IMG_9841.jpg">
      
    </div>
    <div class="column">
      <img src="../assets/images/IMG_5892-IG.jpg">
      <img src="../assets/images/IMG_5927.jpg">
      <img src="../assets/images/IMG_7931.jpg">
      <img src="../assets/images/IMG_8129.jpg">
      <img src="../assets/images/IMG_9097.jpg">
      <img src="../assets/images/IMG_9154.jpg">
    </div>
  </div>

<div class="background">
    <div class="gallery">
        <div class="card">
            <img
                src="../assets/images/IMG_4598.jpg"
                alt="Lavender Field"
            >
        </div>
        <div class="card">
            <img
                src="../assets/images/IMG_4927.jpg"
                alt="Summer"
            >
        </div>
        <div class="card">
            <img
                src="../assets/images/IMG_4899.jpg"
                alt="Autumn"
            >
        </div>
        <div class="card">
            <img
                src="../assets/images/IMG_4900.jpg"
                alt="Autumn"
            >
        </div>
        <div class="card">
            <img
                src="../assets/images/IMG_4642.jpg"
                alt="Autumn"
            >
        </div>
        <!-- more images -->
    </div>         
</div>

<!-- footer -->